<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <h2>ChatGPT</h2>

            <div class="pen"><h2> ❁ </h2></div>
          
        </div>

        <div class="chat">
        <div id="main"> </div>

        </div>
     
        <div class="inputField">
           <div class="input-button">
            <div class="share"><h1>₪</h1></div>
            <input type="text" placeholder="Message ChatGPT" value="" id="input">
            <button id="btn"><h2>↑</h2></button> 
            
           </div>
         </div>
       
    </div>
   
   
   
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js"></script>
</body>
</html>